
/*
.dragGhost {
    position: absolute;
    z-index: 99999;
}
*/
.dropItemClass {
    width: 400px;
    height: 400px;
    left: 0px;
    background: #2f9994;
}


.draggableMock {
    margin: 0;
}
.dddragme:hover {
    box-shadow: 0 0 5px white;
}
/*
.draggableMock {
    position: relative;
    z-index: 99999;
}
*/
.wrappedHelper {
    position: absolute;
    z-index: 99999;
}
#draggableAudioMock, #audioGhost {
    background-color: indianred;
}

#draggableVideoMock, #videoGhost {
    background-color: rgb(214, 214, 96);
}

#draggableMovieMock {
    background-color: limegreen;
}

.valid {
    border: 1px solid #008000;
}

.invalid {
    border: 1px solid #ff0000;
}

#dropZone .item {
    margin-left: 0px;
}