.x-tab-panel-body .av-view.todos-view-type {
    background: #A1A1A1;
    padding: 10px;
}

.todos-view-type input[type="text"], .todos-view-type input:not([type]) {
    background: #A1A1A1;
    border: 1px solid #5A5A5A;
    border-radius: 3px;
    padding: 1px 3px 1px 8px;
    line-height: normal;

    font-size: 11px;
    font-family: arial, tahoma, helvetica, sans-serif;
    font-weight: normal;
    color: #000;

    height: 21px;
}

.todos-view-type input[type="text"]::-webkit-input-placeholder,
.todos-view-type input:not([type])::-webkit-input-placeholder {
    color: #888;
    user-select:  none;
}

.todos-view-type input[type="text"]:focus, .todos-view-type input:not([type]):focus {
    background-color: #d4d4d4;
}

.todos-view-type input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    background: url("../img/checkbox.png") center top;
    font-size: 11px;
    font-family: arial, tahoma, helvetica, sans-serif;
    font-weight: normal;
    color: #000;
    width: 13px;
    height: 13px;
    min-width: 13px;
    min-height: 13px;
    -webkit-box-shadow: none;
    vertical-align: middle;
    margin-right: 4px;
}

.todos-view-type input[type="checkbox"]:checked {
    background-position: 0 -13px;
}

.todos-view-type label {
    font-weight: bold;
}

.todos-view-type label span {
    vertical-align: middle;
}

.todos-view-type .todoItem {
    overflow: hidden;
    height: 24px;
}

.todos-view-type .todoItem div{
    float: left;
}

.todos-view-type .todoItem .del {
    display: none;
}

.todos-view-type .todoItem .renameField {
    display: none;
}

.todos-view-type .todoItem.editing .renameField {
    display: inline-block;
}

.todos-view-type .todoItem.editing label {
    display: none;
}

.todos-view-type .todoItem:hover .del {
    display: block;
    float: right;
}


